.Orders{
    width: 100vw;
    height: 100vh;
    position: relative;
    /* Photo From https://www.freepik.com/free-photo/loose-flour-lies-black-background_1137207.htm#query=sprinkle%20with%20flour&position=36&from_view=search&track=ais */
    background-image: url("../../public/images/Order-Back.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Scroller{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;

}
.Scroller h1{
    display: flex;
    align-items: center;
    color: white;
    font-family: Caveat;
    font-size: 12rem;
}

html{
    overflow: hidden;
}

.pizzaWheel img{
    width: 20%;
}
.prev{
    rotate: 90deg;
}
.next{
    rotate: -90deg;
}
/* html::-webkit-scrollbar{
    display: none;
  } */